.donateParent {
    height: fit-content;
    width: 100%;
    background-image: url("donateImage2.png");
    background-size: 2000px;
    background-position: top;
}
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
.donateTitle {
    font-family: 'Titillium Web', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: -2%;
    color:#ffffff

}
.donateButtonParent{
    text-decoration: none;
    width: 15%;
    height: 75px;
    margin-left: 45%;
    margin-bottom: 50px;
    background-color: #60a761;
    opacity: 1;
    
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px #60a761;
    transform: translateX(-10%);
    position: relative;
}

.donateButton{
    width: 300px;
    height: 75px;
    margin-top: 40px;
    border: none;
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 30px;
    transition: all 0.2s ease-out;
    padding-top: 17px;
    padding-bottom: 17px;
}
.donateDescription {
    font-family: "Poppins", sans-serif;
    width: 60%;
    margin-left: 2%;
    margin-top:15%;
    font-size: 18px;
    z-index: 2;
    float: left;
}
.donateImgParent {
    height: 20px;
    margin-top:80px;

  }
.donateImg {
    width: 60%;
    height: 2000%;
    z-index: 1;
    margin-left: 20%;
    margin-top: 1%
    
}

.wavy {
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-thickness:4px;
    text-shadow: 5px 5px 10px hsl(222, 100%, 61%);
  }
  