.donateParent {
    background-image: linear-gradient(#ffffff, #77CAD7);
    padding: 5% 2%;
    
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-areas: 
    "header header header"
    "desc desc img"
    "desc desc img"
    "desc desc img"
    "button button button";
}


.donateTitle {
    position:sticky;
    margin: auto;
    margin-top: 70px;
    grid-area: header;
}
.donateTitle h1 {
    font-size:55px;
    font-family: 'Lexend';
    color: #16387F;
    letter-spacing:1px; 
    text-transform:uppercase; 
    height: fit-content;
    margin-top: 0;
  }
.donateTitle h1::after {
    content: '';
    display: block;

    background-color: #329cc6; 
    float: right;
    height: 2px;
    width: 30%;
    margin-top: 2%;
}
.donateTitle h1::before {
    content: '';
    display: block;

    background-color: #C63243; 
    left: 0;
    height: 2px;
    width: 30%;
    margin-bottom: 2%;
}


.donateDescription {
    grid-area: desc;
    font-family: "Poppins";
    font-size: 18px;
}
.donateDescription h2 {
    color: #344798;
}


.donateImgParent {
    grid-area: img;
}
.donateImg {
    background-size:cover;
    min-height: 80%;
    max-width: 100%;
}


.donateButton{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin: auto;
    padding: 0.5% 3%;
    border-radius:50px;
    border-width: 1px;
    border-color: #DD944A;
    transition: box-shadow 0.5s ease-in-out;
    grid-area: button;
}
.donateButton:hover{
    box-shadow: 5px 5px 0px 0px #DD944A;
}
.donateButton a{
    text-decoration: none;
    color: #DD944A;
}

  
@media (max-width: 1000px) {
    .donateParent {
        grid-template-areas: 
            "header header header"
            "desc desc desc"
            "desc desc desc"
            "button img img";
    }

    .donateDescription {
        width: 95%;
        padding: 5%;
    }
}
  