.contactParent {
    height: fit-content;
    background-image: url("contactBg.png");
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: "Poppins";


}

.navBarBg {
    height: 80px;
    background-color: #0b42c1;
    width: 100%;
    position: fixed;
    overflow: hidden;
}


@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
.contactTitle {
    font-family: 'Titillium Web', sans-serif;
    font-size: 55px;
    color: rgb(255, 255, 255);
    text-shadow: -7px 5px #3772ff;
    white-space: nowrap;
    overflow:hidden;
}
.titleParent {
    position: relative;
    text-align: center;
    display: none;
}

.contactDescription {
    font-family: "Poppins";
    font-size: 18px;
    text-align: end;
    margin-top: 50%;
    color: #193E7E;
    text-wrap:pretty;
}


.centered {
    position: relative;
    top: 0%;
    left: 35%;
    right: 35%;
  }
  

.contactImgParent {
    margin-top: 90px;

}
.contactImg {
    width: 60%;
    height:350px;
    object-fit:fill;
    opacity: 0.6;
    border-radius: 30px;
    border: 5px solid rgb(0, 0, 0);
    display: none;

}

.container{
    column-count: 2;
    column-gap: 10%;
    column-rule-style:solid;  
    column-rule-color: #BC4374;
    margin-top:100px;
    margin-bottom: 100px;
    margin-left: 45%;
    transform: translateX(-50%);
}

.box{
    width:170%;
    border-radius: 10px;
    padding: 50px;
    background-image: radial-gradient(#3772ff, #1c53d5);
    overflow:hidden;
}

.box label {
    color: #FFFFFF;
}

.box option {
    font-family: "Poppins";

}


.label{
    font-size: larger;
    font-family: "Poppins";
    display: block;
    margin-top: 20px;

}

.input {
    padding: 3px 10px;  
    border-radius: 20px;
    width: 150px;
    border: 2px solid #ccc;
}

.input:focus {
    border: 2px solid #000000;
}

.textarea{
    font-family: "Poppins";
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    margin-top:15px;
    margin-bottom: 15px;
}

.textarea:focus {
    background-color: #e0f7ff;
    border: 2px solid #555;
}

.textarea {
    resize: none;  
}

.submit{
    background-color: #DD6C73;
    color: white;
    font-weight: bolder;
    padding: 10px 15px; 
    font-size: 12px; 
    border-radius: 20px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.submit:hover {
    border-width: 3px;
}

.line{
    border-bottom: 0px; 
}

.err{
    color: red;
    position:relative;
    margin-left: 10%;
    white-space: nowrap;
}

.descErr{
    color: red;
    position: absolute;
    margin-top: 50px;
    margin-left: 40px;
}

.thanksBox{
    height: fit-content;
    margin-left: 30%;
    margin-right: 30%;
    margin-top:5%;
    margin-bottom:25%;

    padding:30px;
    border-radius: 10px;
    border-style:solid dashed solid dashed;
}

.thanksTitle{
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: #3772ff;
    border-radius: 10px;
}

.thanksText{
    text-align: center;
    font-size: 20px;
    width: 80%;
    margin-top:5%;
    margin-left: 10%;
}

.select {
    padding: 5px 5px; 
    border-radius: 10px;
}

.linkButton {
    text-decoration: none;
    display: block;
    text-align: center;
    margin: auto;
    font-size: 15px;
    border-style:outset;
    border-radius: 30px;
    border-width: 2px;
    border-color: blue;
    width: fit-content;
    padding: 0.5% 5% 0.5% 5%;
}

.linkButton:hover {
    border-width: 4px;
}

.thanksButton {
    background-color: white;
    padding: 3px;
    font-size: 15px;
    border-width: 2px;
    border-radius: 30px;
    border-color: blue;

    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    margin-top: 3%;
    width: fit-content;
    padding: 0.5% 5% 0.5% 5%;
}

.thanksButton:hover {
    border-width: 4px;
}

.receipt {
    position: fixed;
    margin-left: 40px;
}

.emailConf {
    text-align: center;
}

.loader {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 100vh 50vw 100vh 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    z-index: 1;
}

@media (max-width: 1000px) {
    .contactTitle{
        display: none;
    }
    .contactImg {
        display: none;
    }
    .container{
        column-count: 1;
        justify-content: center;
        margin-left: 50%;
    }
    .contactDescription {
        font-size: 14px;
        margin-top: 0%;
        text-align: center;
        width: 120%;
        margin-left:-10%;
    }
    .box{
        border-style:ridge;
        border-radius: 10px;
        background-color:#B3989F;
        margin-top: 10%; 
        margin-left: 50%;
        transform: translateX(-50%);
    }    
    .label{
        font-size:medium;
    }    
    .input{
        height:25px;
    }
}