.contactParent {
    height: fit-content;
    background-image: url("contactBg.png");
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Poppins";


}

.navBarBg {
    height: 80px;
    background-color: #0b42c1;
    width: 100%;
    position: fixed;
    overflow: hidden;
}


@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
.contactTitle {
    font-family: 'Titillium Web', sans-serif;
    font-size: 55px;
    color: rgb(255, 255, 255);
    text-shadow: -7px 5px #3772ff;
    white-space: nowrap;
    overflow:hidden;
}
.titleParent {
    position: relative;
    text-align: center;
    display: none;
}

.contactDescription {
    font-family: "Poppins";
    font-size: 18px;
    text-align: end;
    height:10%;
    margin-top: 60%;
}


.centered {
    position: absolute;
    top: 0%;
    left: 35%;
    right: 35%;
  }
  

.contactImgParent {
    margin-top: 90px;

}
.contactImg {
    width: 60%;
    height:350px;
    object-fit:fill;
    opacity: 0.6;
    border-radius: 30px;
    border: 5px solid rgb(0, 0, 0);
    display: none;

}

.container{
    column-count: 2;
    column-gap: 10%;
    column-rule-style:solid;  
    margin-top:100px;
    margin-bottom: 100px;
    margin-left: 45%;
    transform: translateX(-50%);
}

.box{
    width:150%;
    border-style:ridge;
    border-radius: 10px;
    padding: 20px;
    background-color:#cef4ff;
    margin-top: 300px;
}

.label{
    font-size: larger;
    font-family: "Poppins";
    display: block;
    margin-top: 20px;

}

.input {
    padding: 3px 10px;  
    border-radius: 20px;
    width: 150px;
}

.input:focus {
    background-color: #e0f7ff;
}

.textarea{
    font-family: "Poppins";
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    margin-top:15px;
    margin-bottom: 15px;
}

.textarea:focus {
    background-color: #e0f7ff;
    border: 3px solid #555;
}

.select {
    padding: 3px 10px;  
    border-radius: 5px;
    width: 130px;
}


.textarea {
    resize: none;  
}

.submit{
    padding: 5px 10px; 
    font-size: 15px; 
    background-color:rgb(210, 234, 255);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.line{
    border-bottom: 0px; 
}

@media (max-width: 1000px) {
    .contactTitle{
        display: none;
    }
    .contactImg {
        display: none;
    }
    .container{
        column-count: 1;
        justify-content: center;
        margin-left: 50%;
    }
    .line{
        border-top: 2px solid #000000; 
    }
    .contactDescription {
        font-size: 14px;
        margin-top: 0%;
        text-align: center;
        width: 120%;
        margin-left:-10%;
    }
    .box{
        width:150%;
        border-style:ridge;
        border-radius: 10px;
        background-color:#cef4ff;
        margin-top: 10%; 
        margin-left: 50%;
        transform: translateX(-50%);
    }    
    .label{
        font-size:medium;
    }    
    .input{
        height:25px;
    }
}