.infinite-scroll {
    overflow: hidden;
    white-space: nowrap;
    background-color: #0710a2; /* Adjust background color */
    padding: 0px 0;
    font-size: 1.5em;
    display: wrap;
    align-items: center;
    justify-content: center;
    color: aliceblue;
  }
  
  .scroll-content {
    display: inline-flex;
    align-items: center;
    animation: scroll 20s linear infinite reverse ;
    
  }
  
  .scroll-item {
    padding: 0 20px;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  